html {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

body {
  font: 100%/1.5 'PT Serif', serif;
  margin-top: 2rem;
}

table * {
  border: none !important;
}

table td {
  padding-right: 1rem;
}

code { padding: .25rem; }
pre, pre>code {
  margin-left: -.52rem;
  margin-right: -.5rem;
  padding: .5rem 0;
  font-size: .8rem;
  overflow: scroll;
  border-left: 1px solid #B2DFDB;
}
table pre, table pre>code {
  background: transparent !important;
}
pre>code { padding: 0 .5rem; background: none; border: none; }

a {
  color: #009688;
  text-decoration: none;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  opacity: 0.6;
}

.header>.logo {
  width: 64px;
  height: 64px;
  margin-left: -84px;
  margin-right: 20px;
  display: inline-block;
  background: url(../logo.png);
  background-size: cover;
  text-indent: -999px;
}

.header>.follow {
  position: relative;
  height: 0;
  top: 1rem;
  left: -1rem;
  margin-left: -84px;
}

.footer {
  display: inline-block;
  border-radius: 4px;
  font-size: 0.9rem;
}

.threads {
  margin-top: -60px;
}

@media (max-width: 960px) {
  .header>.logo {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-left: -16px;
  }

  .header>.follow {
    margin-left: 0;
    left: auto;
    top: -1.75rem;
    text-align: right;
  }

  .threads {
    margin-top: 0;
  }

  img {
    width: 100%;
  }
}

.post {
  padding-left: .5rem;
  border-left: 1px solid #efefef;
}
.post-title {
  margin-right: 16px;
  font-family: 'PT Sans', serif;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 0;
}
.post-title>a {
  color: #000;
}

@media (max-width: 960px) {
  .post {
    margin-bottom: 10px;
  }
  .post-title {
    font-size: 1.25rem;
    line-height: 1.25;
  }
}

.post-body {
  font-size: 1rem;
  margin-bottom: 40px;
}

.post-meta-categories {
  margin-top: 8px;
  font-size: .8rem;
  color: #fff;
  margin-bottom: 30px;
}
.post-meta-category {
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: .7rem;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  opacity: .8;
}

.post-meta {
  display: inline-block;
  font-size: .8rem;
  color: #9e9e9e;
  margin-top: -18px;
  margin-bottom: 4px;
  padding-top: 2px;
  border-top: 1px solid #efefef;
}

.post-comments {
  padding-top: 10px;
  border-top: 1px solid #efefef;
}
.post-comment {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.post-comment-author {
  font-weight: bold;
  margin-right: 8px;
}
.post-comment-date {
  font-size: .75rem;
  color: #9E9E9E;
}
.post-comment-body {
  padding-bottom: 8px;
  border-bottom: 1px solid #efefef;
  margin-top: 4px;
}
.post-comment-body code {
  background: #fff;
}
.post-comment-body>:first-child {
  margin-top: 0;
}
.post-comment-body>:last-child {
  margin-bottom: 0;
}
